<div>
  <navigation-root [title]="title"></navigation-root>
  <br />
  <div id="persons_is_loading" *ngIf="loading; else loaded">
    <strong>Loading...</strong>
  </div>
  <ng-template #loaded>
    <div id="persons_is_loaded">
      <div
        *ngIf="loadingError; else noLoadingError"
        id="persons_is_loadingError"
      >
        <strong style="color: red">Error on loading</strong><br /><br />
        <button (click)="ngOnInit()">Reload</button>
      </div>
      <ng-template #noLoadingError>
        <div id="persons_is_loadingSuccess">
          <div *ngIf="persons.length > 0; else listIsEmpty">
            <ul *ngFor="let person of persons; index as i">
              <li>
                <person-root
                  [id]="'person_item_' + person.id"
                  [person]="person"
                  (removeOneFromPersons)="removeOneFromPersons($event)"
                ></person-root>
              </li>
            </ul>
          </div>
        </div>
        <ng-template #listIsEmpty><Strong>List is empty</Strong></ng-template>
      </ng-template>
    </div></ng-template
  >
</div>
